body {
  margin: 20px;
}

.list-item {
  background-color: gray;
}

.countryInfo {
  cursor: pointer;
}

li {
  padding: 5px;
}

li.active {
  background: #dfdfdf;
  border-radius: 5px;
}

p {
  margin: 0;
}

.small {
  font-size: 14px;
}